extends ../base.pug

block content
  main#contents 
    .contents__hero 
      .hero__photo#about
        .hero__text
          h3 
            p.title ABOUT
            p '유쓰'는 유언장의 대중화를 통해
            p 모든 사람이 준비된 죽음을 맞이하는 세상을 만들고자 합니다.


    .group_program#about 
      .inner_program 
        section.box_program.menu1__program 
          .title.menu1__column1
            h1.menu1__title OUR STORY
          .contents.menu1__column2
            h3
              p “마지막 인사라도 나눌 수 있었으면 좋았을텐데”
              p 갑작스럽게 아버지를 떠나보낸 친구의 이 한마디로 부터 유쓰 프로젝트는 시작되었습니다. 
              p 그 누구도 자신이 언제 죽음을 맞이할지 알 수 없지만, 대부분의 사람들은 큰 병에 걸리거나 죽음이 임박하기 전까지는 죽음을 특별히 준비하려하지 않습니다.
            h3 
              p 하지만 죽음을 준비하는 과정은 내 인생의 마지막을 주체적으로 정리할 수 있는 시간이며, 앞으로의 삶에 대한 고민도 함께 할 수 있는 중요한 경험입니다.
              p 유쓰는 유언장이 죽음에 임박했거나 재산을 상속하는 경우에만 필요하다는 인식에서 벗어나, 좀 더 우리의 삶에 가깝게 다가올 수 있도록 발전시켜나가고자 합니다. 
          .image__wrapper
            img(src="/uploads/about/writing.png")

      .wrapper-of-box
          section.box_program         
            .title.menu2__column1
              h1.menu2__title MISSION
            .contents.menu2__column2
              .wrapper-of-img
                img(src='/uploads/home/main4.jpg')
              .wrapper-of-writing
                h1.menu3__subtitle
                  p 모든 사람이 
                  p 준비된 죽음을 맞이할 수 있는 
                  p 세상을 만든다.
                h3 
                  p 유쓰는 모든 사람이 죽음에 대해 고민하고 
                  p 미리 죽음을 준비할 수 있는 세상을 꿈꿉니다. 

      .inner_program 
        section.box_program.menu3__program
          .title.menu3__column1
            h1.menu3__title VISSION
            .contents.menu3__column2
              div.root-circle
                div.circle.first
                  h1.subtitle 유언/죽음하면 가장 먼저 떠오르는 회사
                div.circle.second
                  h1.subtitle 모든 사람이 차별없이 죽음을 준비할 수 있는 세상을 만드는 회사
                div.circle.third
                  h1.subtitle 유언 문화를 창조하고 혁신하는 회사

    //- .wrapper
    //-   .about__people
    //-     h1.people__title PEOPLE
    //-     .people__members
    //-       .member
    //-         img(src="/uploads/person.png", alt="")
    //-         .introduce
    //-           strong.name 이청화
    //-           p.txt_position 리더
    //-           p.txt_desc 간단 설명
    //-       .member
    //-         img(src="/uploads/person.png", alt="")
    //-         .introduce
    //-           strong.name 이종혁
    //-           p.txt_position 기획/제작
    //-           p.txt_desc 간단 설명
    //-       .member
    //-         img(src="/uploads/person.png", alt="")
    //-         .introduce
    //-           strong.name 이유현
    //-           p.txt_position 기획/제작
    //-           p.txt_desc 간단 설명
    //-       .member
    //-         img(src="/uploads/person.png", alt="")
    //-         .introduce
    //-           strong.name 양혜린
    //-           p.txt_position 마케팅
    //-           p.txt_desc 간단 설명
    //-       .member
    //-         img(src="/uploads/person.png", alt="")
    //-         .introduce
    //-           strong.name 원덕희
    //-           p.txt_position 마케팅
    //-           p.txt_desc 간단 설명
    //-       .member
    //-         img(src="/uploads/person.png", alt="")
    //-         .introduce
    //-           strong.name 조수진
    //-           p.txt_position 개발
    //-           p.txt_desc 간단 설명
