extends ../base.pug

block content
  main#contents 
    .contents__hero 
      .hero__photo 
        .hero__text 
          h3 
            p 모두의 참여와 공익 가치의 확산을 통해
            p 소셜 임팩트를 실현합니다.
            p 유쓰 콘텐츠 핵심 멘트

    .group_program.about 
      .inner_program 
        section.box_program.menu1__program 
          .title.menu1__column1
            h1.menu1__title OUR STORY
          .contents.menu1__column2
            h3
              p 
                | 그들의 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가?

              p 
                | 우리 눈이 그것을 보는 때에 우리의 귀는 생의 찬미를 듣는다
                | 그것은 웅대한 관현악이며 미묘한 교향악이다

              p 
                | 뼈 끝에스며들어 가는 열락의 소리다이것은 피어나기 전인 그들의
                | 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가?

              p
                | 그들의 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가? |

              p 
                | 우리 눈이 그것을 보는 때에 우리의 귀는 생의 찬미를 듣는다
                | 그것은 웅대한 관현악이며 미묘한 교향악이다

              p 
                | 뼈 끝에스며들어 가는 열락의 소리다이것은 피어나기 전인 그들의
                | 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가?

        section.box_program
          .title.menu2__column1
            h1.menu2__title VISION
          .contents.menu2__column2
            h3 
              p
                | 그들의 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가? |

              p 
                | 우리 눈이 그것을 보는 때에 우리의 귀는 생의 찬미를 듣는다
                | 그것은 웅대한 관현악이며 미묘한 교향악이다

              p 
                | 뼈 끝에스며들어 가는 열락의 소리다이것은 피어나기 전인 그들의
                | 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가?

        section.box_program
          .title.menu3__column1
            h1.menu3__title MISION
          .contents.menu3__column2
            h1.menu3__subtitle 창의적 생태계를 구축합니다.
            h3
              p
                | 그들의 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가? |

              p 
                | 우리 눈이 그것을 보는 때에 우리의 귀는 생의 찬미를 듣는다
                | 그것은 웅대한 관현악이며 미묘한 교향악이다

              p 
                | 뼈 끝에스며들어 가는 열락의 소리다이것은 피어나기 전인 그들의
                | 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가?

            h1.menu3__subtitle 창의적 생태계를 구축합니다.
            h3
              p
                | 그들의 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가? |

              p 
                | 우리 눈이 그것을 보는 때에 우리의 귀는 생의 찬미를 듣는다
                | 그것은 웅대한 관현악이며 미묘한 교향악이다

              p 
                | 뼈 끝에스며들어 가는 열락의 소리다이것은 피어나기 전인 그들의
                | 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가?

            h1.menu3__subtitle 창의적 생태계를 구축합니다.
            h3
              p
                | 그들의 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가? |

              p 
                | 우리 눈이 그것을 보는 때에 우리의 귀는 생의 찬미를 듣는다
                | 그것은 웅대한 관현악이며 미묘한 교향악이다

              p 
                | 뼈 끝에스며들어 가는 열락의 소리다이것은 피어나기 전인 그들의
                | 피부가 얼마나 생생하며 그들의 눈에 무엇이 타오르고 있는가?

    .wrapper
      .about__people
        h1.people__title PEOPLE
        .people__members
          .member
            img(src="/uploads/person.png", alt="")
            .introduce
              strong.name 이청화
              p.txt_position 리더
              p.txt_desc 간단 설명
          .member
            img(src="/uploads/person.png", alt="")
            .introduce
              strong.name 이종혁
              p.txt_position 기획/제작
              p.txt_desc 간단 설명
          .member
            img(src="/uploads/person.png", alt="")
            .introduce
              strong.name 이유현
              p.txt_position 기획/제작
              p.txt_desc 간단 설명
          .member
            img(src="/uploads/person.png", alt="")
            .introduce
              strong.name 양혜린
              p.txt_position 마케팅
              p.txt_desc 간단 설명
          .member
            img(src="/uploads/person.png", alt="")
            .introduce
              strong.name 원덕희
              p.txt_position 마케팅
              p.txt_desc 간단 설명
          .member
            img(src="/uploads/person.png", alt="")
            .introduce
              strong.name 조수진
              p.txt_position 개발
              p.txt_desc 간단 설명
