extends ../base.pug 
include ../mixins/qrThumbnail.pug

block content
    main#contents
        .contents__hero
            .hero__photo
                .hero__text
                    h3
                        p 유언 관련 명언
                        p 유쓰 콘텐츠 핵심 멘트

        ul.contents__menu
            a.menu1(href="/contents/qna/1")
                li QnA
            a.menu2.active(href="/contents/detail")
                li 가이드북 플러스
            a.menu3(href="/contents/recommend")
                li 추천 콘텐츠
        
        .group_program#detail
            .inner_program
                div.grid
                    +qr("/uploads/contents/1.jpg", "유골을 뿌리는 장례 방식(산분장) 더 알아보기", "장례", 3, 1)
                    +qr("/uploads/contents/2.jpg", "장기기증 더 알아보기", "장례 • 장기기증", 2, 2)
                    +qr("/uploads/contents/3.jpg", "상속포기와 한정승인 더 알아보기", "상속 • 재산", 2, 3)
                    +qr("/uploads/contents/4.jpg", "SNS 기념(추모)계정 더 알아보기", "장례", 4, 4)
                    +qr("/uploads/contents/5.jpg", "유품 소각 관련 사항 더 알아보기", "재산", 3, 5)
                    +qr("/uploads/contents/6.jpg", "반려동물 신탁제도 더 알아보기", "장례 • 재산", 2, 6)