extends ../base.pug 
include ../mixins/qrThumbnail.pug

block content
    main#contents
        .contents__hero
            .hero__photo
                .hero__text
                    h3
                        p.title 가이드북 플러스
                        p 유쓰 유언장 KIT 가이드북에 담지 못한 
                        p 추가적인 내용을 소개해드립니다.

        ul.contents__menu
            a.menu1(href="/contents/qna/1")
                li QnA
            a.menu2.active(href="/contents/detail")
                li 가이드북 플러스
            a.menu3(href="/contents/recommend")
                li 추천 콘텐츠
        
        .group_program#detail
            .inner_program
                div.grid
                    +qr("/uploads/contents/qrThumbnail/1.jpg", "유골을 뿌리는 장례 방식", "장례 • 장례방식", 3, 1)
                    +qr("/uploads/contents/qrThumbnail/2.jpg", "상황별 기증 가능 장기 종류", "장기기증", 2, 2)
                    +qr("/uploads/contents/qrThumbnail/3.jpg", "부채와 상속", "상속포기 • 빚 • 재산", 2, 3)
                    +qr("/uploads/contents/qrThumbnail/4.jpg", "SNS 기념(추모)계정 전환방법", "추모 • 디지털 기록", 4, 4)
                    +qr("/uploads/contents/qrThumbnail/5.jpg", "유품 처분 방법", "유품 소각 • 유품 정리", 3, 5)
                    +qr("/uploads/contents/qrThumbnail/6.jpg", "반려동물 신탁제도(펫신탁)", "반려동물 • 신탁 • 대리인", 2, 6)