extends ../base.pug 

block content
    main#contents
        .contents__hero
            .hero__photo
                .hero__text
                    h3
                        p 유언 관련 명언
                        p 유쓰 콘텐츠 핵심 멘트

        ul.contents__menu
            a.menu1.active(href="/contents/qna/1")
                li QnA
            a.menu2(href="/contents/detail")
                li QR코드 렌더링
            a.menu3(href="/contents/recommend")
                li 추천 콘텐츠