extends ../base.pug

block content
  if popup 
    p#popup=popup
  main#contents
    .contents__hero
      .hero__photo
        .hero__text
          h3
            p.title QnA
            p 유언과 관련하여 궁금할 수 있는 
            p 여러가지 질문을 알려드립니다.

    ul.contents__menu
      a.menu1.active(href="/contents/qna/1")
        li QnA
      a.menu2(href="/contents/detail")
        li 가이드북 플러스
      a.menu3(href="/contents/recommend")
        li 추천 콘텐츠

    .group_program
      .inner_program
        .contents__qna 
          ul.qna__menu 
            a(href="/contents/qna/1")
              i.fa-solid.fa-border-all 
              li 유언
            a.active(href="/contents/qna/2")
              i.fa-solid.fa-file-signature 
              li 재산
            a(href="/contents/qna/3")
              i.fa-solid.fa-hand-holding-dollar 
              li 기타

        .contents__qna__box 
          .container__toggle 
            .toggle 
              i.indicator 
            h3 법률 용어 모드

          .container 
            section#fag 
              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 부모님이 남겨준 재산보다 부채가 더 많은데, 제가 이 부채를 다 떠안아야 하나요? 상속을 안 받고 싶으면 포기할 수도 있나요? 
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                      p.bold 부채가 많다면, 재산을 상속받지 않을 수 있습니다. 
                      p.blank
                      p 조금 더 구체적으로 이야기하면, 위와 같은 상황에서는 
                        span.highlight '상속 포기' 
                        | 또는 
                        span.highlight '한정 승인'
                        | 을 고려해볼 수 있습니다. 
                      p 상속포기는 말 그대로 상속받을 재산과 채무 모두를 포기하는 것을 의미하고, 한정승인은 
                        span.original 피상속인
                        span.changed 상속을 주는 사람, 즉 물려주는 사람
                        | 의 재산 한도에서만 채무를 갚겠다는 조건으로 상속 받는 것을 의미합니다. 
                        span 해당 내용에 대해 더욱 자세히 알고 싶다면 ‘가이드북 플러스'의 '
                        span.underline
                          a(href="/contents/detail/3") 부채와 상속
                        | '을 참고해 주세요.
                    
              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 아버지의 유언에 따라 상속에서 배제가 되었는데, 꼭 유언에 따라 상속이 이루어져야 하나요?
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p
                      span.bold 생전에 남긴 유언이 법적 효력을 가진다면 그 유언에 따라 상속이 진행 되지만, ‘유류분’에 따라 변동사항이 있을 수 있습니다.
                    p.blank
                    p ‘유류분'이란 유족을 위해 남겨두어야 하는 재산의 몫을 의미하며 유류분 제도를 통해 유족은 법적으로 최소한의 보장 금액을 상속 받을 수 있습니다. 
                      span 유류분의 구체적인 범위는 자녀, 손자 및 배우자’는 법정 상속분의 2분의 1이며, ‘부모님, 조부모님과 형제자매’는 법적 상속분의 3분의 1입니다. 

              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 주식이나 비트코인 같은 디지털 자산도 상속할 수 있나요?
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 
                      span.bold 주식 그리고 비트코인을 포함한 암호화폐 모두 상속의 대상이 됩니다. 
                    p.blank
                    p 단, 암호화폐의 경우 대형 암호화폐 거래소 지갑에 저장되어 있다면 은행과 동일하게 필요 서류를 제출 후 상속 받을 수 있지만, 해외 거래소 혹은 작은 규모의 거래소의 경우 상속이 어려울 수 있습니다. 
                      span 따라서 관련된 내용은 미리 정리하여 전달해 두는 것이 좋습니다.

              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 제가 죽은 후 친구(제3자)에게 재산을 줄 수도 있나요?
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 
                      span.bold 유언을 통해 상속인이 아닌 제3자에게도 
                        span.original 유증할 수 있습니다. 
                        span.changed 재산을 남길 수 있습니다. 
                    p.blank
                    p 다만 이 때문에 
                      span.original 상속인
                      psna.changed  상속받는 유족
                      | 의 유류분이 침해를 당한 경우, 
                      span.original 상속인들
                      span.changed 그 유족
                      | 은 제3자에게 유류분 반환을 청구할 수 있습니다.
              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 유증과 상속, 증여의 차이가 무엇인가요? 
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    span.original
                      p 먼저 
                        span.bold '상속'
                        | 이란 '민법 제1005조'에 따라 사람이 사망한 경우, 그가 살아있을 때의 재산상의 지위가 법률의 규정에 따라 특정한 사람에게 포괄적으로 승계되는 것을 의미합니다. 상속은 원칙적으로 피상속인이 사망을 해야지만 개시됩니다.
                      p.blank
                      p 반면 
                        span.bold 유증
                        | 이란 유언으로 특정한 대가 없이 자신의 재산을 타인에게 주는 것을 의미합니다. 유언장에 ‘나의 고등학교 동창 OOO에게 OO은행에 있는 5000만원을 주겠다.’ 등의 의사를 남기는 것을 예로 들 수 있습니다.
                      p.blank
                      p 마지막으로 
                        span.bold 증여
                        | 는 증여자가 자신의 재산을 타인에게 무상으로 주는 행위를 의미하며 '상속', ‘유증'과는 다르게 증여자가 사망을 하지 않아도 상관이 없습니다.
                    span.changed
                      p 먼저 
                        span.bold '상속'
                        | 이란 '민법 제1005조'에 따라 사람이 사망한 경우, 그가 살아있을 때의 재산상의 지위가 법률의 규정에 따라 특정한 사람에게 모두 넘어가는 것을 의미합니다. 상속은 원칙적으로 상속을 하는 사람이 사망을 해야지만 그 절차가 진행됩니다.
                      p.blank
                      p 반면 
                        span.bold 유증
                        | 이란 유언으로 특정한 대가 없이 자신의 재산을 타인에게 주는 것을 의미합니다. 유언장에 ‘나의 딸에게 OO은행에 있는 5000만원을 주겠다.’ 등의 의사를 남기는 것을 예로 들 수 있습니다.
                      p.blank
                      p 마지막으로 
                        span.bold 증여
                        | 는 증여자가 자신의 재산을 타인에게 무상으로 주는 행위를 의미하며 '상속', ‘유증'과는 다르게 증여자가 사망을 하지 않아도 상관이 없습니다. 

              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 재산 상속은 돈만 가능한가요? 음식 레시피와 같은 비법 전수도 재산 상속으로 치나요?
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 
                      span.bold 재산권은 일반적으로 상속이 가능하고, 특허는 지적재산권으로 분류되기 때문에 상속이 가능합니다.
                    p.blank
                    p 특허권과 관련하여 남겨진 유언이 없는 경우, 민법에 따라 상속되고 유언을 통해 의사를 남겼다면 해당 의사에 따라 특정인에게 
                      span.original 유증이 
                      span.changed 넘어가게  
                      |  됩니다. 
                      span 또한 특허권이 공동소유일 경우, 공동특허권자 중 1명이 사망하면 그 사망한 특허권자의 상속인이 특허권자가 됩니다. 
