extends ../base.pug

block content
  if popup 
    p#popup=popup
  main#contents
    .contents__hero
      .hero__photo
        .hero__text
          h3
            p 유언 관련 명언
            p 유쓰 콘텐츠 핵심 멘트

    ul.contents__menu
      a.menu1.active(href="/contents/qna/1")
        li QnA
      a.menu2(href="/contents/detail")
        li 가이드북 플러스
      a.menu3(href="/contents/recommend")
        li 추천 콘텐츠

    .group_program
      .inner_program
        .contents__qna 
          ul.qna__menu 
            a(href="/contents/qna/1")
              i.fa-solid.fa-border-all 
              li 유언
            a(href="/contents/qna/2")
              i.fa-solid.fa-file-signature 
              li 재산
            a.active(href="/contents/qna/3")
              i.fa-solid.fa-hand-holding-dollar 
              li 기타

        .contents__qna__box 
          .container__toggle 
            .toggle 
              i.indicator 
            h3 법률 용어 모드

          .container 
            section#fag 
              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 제가 질병 등으로 인해 먼저 세상을 떠나게 될 경우 저의 반려동물이 걱정됩니다. 저의 재산을 반려동물에게도 상속할 수 있나요? 
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 
                      span.bold 우리나라 현행법상 반려동물에게 직접 상속하는 것은 불가능합니다. 
                    p.blank
                    p 사람이 아닌 반려동물은 상속을 받을 수 있는 주체가 될 수 없습니다. 
                    p 반려동물에게 재산을 바로 상속할 수는 없지만 
                      span.original 신탁 제도
                      span.changed 일정한 목적에 따라 재산의 관리와 처분을 남에게 맡기는 제도
                      | 를 활용하면 이와 유사한 효과를 낼 수 있습니다. 
                    p ‘반려동물 신탁’이란 현재 반려동물의 주인이 질병, 사망 등의 이유로 반려동물을 돌보지 못할 상황을 대비해 본인 사망 후에 반려동물을 돌봐줄 사람에게 필요한 자금을 계약하는 제도입니다. 
                    p 반려동물 신탁제도에 대해 더 알고 싶으시다면 여기를 클릭해주세요. 

              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 사망 후 제 SNS 계정들은 어떻게 되나요? 삭제되었으면 좋겠는데, 미리 설정할 수 있는 방법이 있나요?
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 
                      span.bold 네 그렇습니다. 몇몇 SNS에서는 미리 사후 삭제 의향을 표시하여 삭제를 진행할 수 있습니다. 
                    p.blank
                    p 현재 가장 많은 사람들이 사용하고 있는 SNS인 인스타그램과 페이스북의 경우 미리 삭제 요청을 할 수 있습니다. 
                    p 페이스북의 경우, 앱 내에서 ‘사후 계정 삭제’하기를 통해 본인이 미리 삭제 여부를 정할 수 있습니다. 
                    p 인스타그램의 경우에는 
                      span.original 직계가족이나
                      span.changed 부모님, 조부모님, 자녀, 손자/손녀나
                      |  법률대리인에게 미리 삭제 의향을 표시하여 삭제를 진행할 수 있습니다.
                    p 이 외에도 SNS 상에서 세상을 떠난 이들의 삶을 기억하고 추모하는 계정인 기념(추모)계정이라는 것이 존재하는데요.
                    p SNS 기념계정 전환 및 사후 삭제 방법에 대해 더 알고 싶으시다면 ‘가이드북 플러스'의  
                      span.underline
                        a(href="/contents/detail/4") 'SNS 기념(추모)계정 전환방법'
                      | 를 참고해주세요.


              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 연명의료를 원치 않는다면 어디에 의사표시를 해놔야 하나요? 
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 
                      span.bold 연명의료에 대한 본인의 의사는 ‘사전연명의료의향서'를 통해 미리 밝혀둘 수 있습니다. 
                    p.blank
                    p 먼저 ‘연명의료’는 치료 효과 없이 임종 과정의 기간만을 연장하는 의학 치료를 말합니다. 
                    p 
                      span.original 임종 
                      span.changed 죽음의 직전에서 죽음의 순간까지의 사이
                      |  과정에 있는 환자는 연명의료(인공호흡기, 심폐 소생술, 항암제 투여, 혈액투석 등)를 시행하지 않거나 중단할 수 있는 기준을 결정하여 삶을 존엄하게 마무리할 수 있는 권리를 가집니다. 
                    p 이러한 연명의료에 대한 본인의 의사는 사전연명의료의향서를 통해 미리 밝혀둘 수 있습니다. 
                    p 사전연명의료의향서는 연명 의료 결정 제도에 따라 보건복지부 지정 등록기관에서 별도로 작성해야 합니다. 

              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 장기기증은 어떻게 하는 건가요? 또한 사후에 저희 부모님이 의사를 변경할 경우에는 어떻게 되나요?
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 사망 후 장기를 기증하고자 한다면, 각각의 상황별로 어떤 장기를 기증할 것인가에 대해 
                      span.bold ‘질병관리본부 국립장기조직 혈액관리원’ 또는 ‘장기이식 등록기관’을 통해 안내받을 수 있습니다. 
                    p.blank
                    p 장기기증 희망 등록을 하게 되면 등록증이 발급되지만, 실제 기증 시점이 오면 가족의 동의가 필요하기 때문에 기증 희망 사실을 가족에게 꼭 알려야 합니다. 
                    p 그렇기 때문에 스스로 장기기증에 동의해도 본인 사망 후 유족이 거부한다면 장기적출은 이루어지지 않으며, 이미 유족이 장기기증에 동의하였다 하더라도 수술 시작 전까지는 언제든지 동의 의사를 철회할 수 있습니다.


              .panel-question 
                .panel-heading 
                  i.fa-solid.fa-q 
                  h3 
                    p 제 유품을 소각처리하고 싶은데 정해진 기준이나 방법이 있나요?
                    i.fa-solid.fa-angle-down 
                #thisone.panel-body 
                  i.fa-solid.fa-a 
                  div.answer
                    p 
                      span.bold 그렇습니다. 유품을 소각할 시에는 전문 소각장에서의 진행이 필요합니다.
                    p.blank
                    p 과거에는 화장터나 매장시설, 장례시설에서 따로 소각장을 운영해 유족들이 사후 물품을 소각 처리를 진행했습니다. 
                    p 그러나 현재는 폐기물관리법이 개정됨에 따라(2007.8.3) 소각에 대한 기준이 까다로워 지면서 전문 소각장에서 진행이 필요합니다. 
                    p 유품 소각시, 보통 옷, 신발, 다이어리 등 작은 물체는 전문 유품 소각장에서 진행을 많이 하며, 가전, 가구 등 큰 물체 또는 집 전체의 정리 및 소각은 폐기물 처리업체 또는 전문 유품 처리 업체를 통해 진행합니다.
