extends ../base.pug

block content 
    main#contents 
        .contents__hero 
            .qrpage__photo
                img(src=imgUrl, alt="")
                .hero__text 
                    h3 
                        p #{title}
                        
        .group_program 
            .inner_program