extends ../base.pug

block content 
    main#contents.qrPage
        include ../partials/qrHero.pug 
        
        .group_program 
            .inner_program
                article#article1.paragraph
                    div.article__title
                        h1.first-title 폐기물 관리법 
                    div.contents
                        div.paragraph-of-paragraph
                            | 오늘날에는 유품을 허가 없이, 지정된 장소가 아닌 곳에서 소각하면 
                            span.underline ‘폐기물관리법’에 따라 불법입니다.
                        div.box
                            h1.title [폐기물관리법 제8조 제2항, 제68조 제3항]
                            p 정부 허가 없이 소각할 경우 폐기물 관리법 제 68조 3항 위반으로 100만원 이하의 과태료
                            p 소각 시 과실로 인해 산불로까지 번질 경우 3년 이하 징역 또는 1500만원 이하 별금형

                article#article2.paragraph
                    div.article__title
                        h1 유품 소각 현황
                    div.contents
                        div.paragraph-of-paragraph
                            p 과거에는 화장터나 매장시설, 장례시설에서 따로 소각장을 운영해 유족들이 사후 물품을 소각 처리를 진행했습니다.
                                span  그러나 현재는 앞서 말씀드린 폐기물관리법이 개정됨에 따라(2007.8.3) 
                                | 소각에 대한 기준이 까다로워 지면서 
                                span.underline 전문 소각장에서 진행이 필요합니다.

                        div
                            h3.contents__title
                                | 개정 폐기물관리법(2007.8.3) 따라 유품 소각 시 다이옥신 배출 허용기준이 신설되면서 사실상 소각장 운영이 불가능
                                |( 
                                a(href='https://weekly.donga.com/3/all/11/87249/1')    
                                    i.fa-solid.fa-link
                                    | link
                                |  )
                            div.paragraph-of-paragraph    
                            ul
                                li.bold • 화장터, 장례식장 내에서 유품 소각 진행되고 있지 않음
                                li.bold • 
                                    span.underline 허가 받은 소각장, 소각기를 통해 진행 필요


                        div.paragraph-of-paragraph
                            p 유품 소각시, 보통 옷, 신발, 다이어리 등 작은 물체는 전문 유품 소각장에서 진행을 많이 하며, 
                                span 가전, 가구 등 큰 물체 또는 집 전체의 정리 및 소각은 폐기물 처리업체 또는 전문 유품 처리 업체를 통해 진행합니다.

                article#article3.paragraph
                    div.article__title
                        h1 유품 소각 업체
                    div.contents
                        div.paragraph-of-paragraph
                            p 유품 소각 업체는 크게 3가지로 나뉩니다. 
                        div
                            ul
                                li.bold • 소각을 진행하는 폐기물 처리업체
                                li.bold • 유품 전문 소각 업체 or 유품 청소 업체
                                li.bold • 국가/지자체 운영 업체
                        div.paragraph-of-paragraph
                            p 그러나, 국가/지자체에서 공식적으로 운영하는 소각업체는 많지 않으며, 
                                span 대표적으로는 성남시 환경에너지시설(소각장)에서 성남시민이 고인이 되었을 시, 무료로 소각을 진행하고 있습니다.
                                | (
                                a(href='http://www.joongdo.co.kr/web/view.php?key=20180423010010525')
                                    i.fa-solid.fa-link
                                    | link
                                |  )

            include ../partials/indexBtn.pug