xtends ../base.pug

block content 
    main#contents
        include ../partials/qrHero.pug 
        
        .group_program 
            .inner_program
                article#article1.paragraph
                    div.article__title

                        h1.first-title 산분장의 정의

                    div.contents
                        div.paragraph-of-paragraph
                            |
                            span.bold 산분장은 시신을 화장한 뒤, 뼛가루를 산, 강, 바다 등 자연에 뿌리는 장례 방법
                            | 으로, 이미 많은 사람들이 선호하고 있습니다. 
                            p 뼛가루를 자연으로 돌려 보내는 장사 방법을 다음과 같은 이름으로 부를 수 있습니다.
