extends ../base.pug

block content 
    main#contents
        include ../partials/qrHero.pug 
        
        .group_program 
            .inner_program
                article#article1.paragraph
                    div.article__title
                        h1.first-title 기념 계정의 의미
                    div.contents
                        div.paragraph-of-paragraph
                            p 기념 계정은 SNS에서 세상을 떠난 이들의 삶을 기억하고 추모하는 계정입니다.
                            p 대표적으로 인스타그램과 페이스북에서는 본인의 계정을 기념 계정으로 전환할 수 있으며, 이를 위해서는 몇 가지의 절차가 필요합니다.

                article#article2.paragraph
                    div.article__title
                        h1 기념 계정의 특징
                    div.contents
                        div
                            ul
                                li • 기념 계정에는 아무도 로그인할 수 없습니다.
                                li • 프로필에서 고인의 이름 옆에 ‘추모’라는 문구가 표시됩니다.
                                li • 사진과 동영상을 비롯하여 고인이 공유한 게시물은 인스타그램/페이스북에 그대로 남아 있지만, 게시물을 공유한 공개 대상에게만 표시됩니다.
                                li • 기념 계정은 광고, 추천 계정 등과 같은 특정 공간에는 표시되지 않습니다.

                article#article3.paragraph
                    div.article__title
                        h1 인스타그램 기념계정 전환방법
                    div.contents
                        div.paragraph-of-paragraph
                            p 인스타그램에서는 고인의 계정을 발견하여 인스타그램 고객센터에 요청하면 기념 계정으로 전환을 도와줍니다. 
                            | 이 과정에서 
                            span.bold 사망을 증명할 서류 등이 필요하며, 제3자도 고인의 계정을 발견한 경우에 신고하여 전환을 요청할 수 있습니다. 
                            p 기념 계정으로 전환되면 고인의 프로필 이름 옆에 ‘추모’라는 메시지가 표시되고, 고인이 생전에 공유한 그동안의 게시물은 인스타그램에 계속 남아 방문자에게 보이게 됩니다.
                        div#picture
                            p (사진 들어가는 부분)
                
                article#article4.paragraph
                    div.article__title
                        h1 페이스북 기념계정 전환방법
                    div.contents
                        div.paragraph-of-paragraph
                            p 페이스북은 기념 계정으로 전환하는 과정에서 ‘기념 계정 관리자’를 지정할 수 있습니다. 
                            p 생전에 페이스북에서 기념 계정 관리자를 지정해두면, 기념 계정 관리자에게 해당 계정을 관리할 수 있는 권한이 부여됩니다. 
                            p 구체적으로는 프로필 업데이트, 새로운 친구 요청에 응답, 추모식과 같은 일정 공유 등이 있습니다. 
                            p 또한 내가 이 계정을 얼마동안 유지하고 싶은 지 생전에 공유하면 해당 기간 이후에 계정을 삭제할 수 있습니다. 
                            span.bold 여기서 주의할 점은 나의 계정으로 게시물을 올린다거나 메시지를 확인할 수는 없습니다. 
                            p 구체적인 기념계정 전환방법은 다음과 같습니다.
                        div#picture
                            p (사진 들어가는 부분)

                article#article5.paragraph
                    div.article__title
                        h1 사후 인스타그램 계정 삭제
                    div.contents
                        div.paragraph-of-paragraph
                            p 사전에 인스타그램 삭제의 의사표시를 한 상태라면, 직계가족이나 법률 대리인이 고인의 계정 삭제를 요청할 수 있습니다. 
                            span.bold 인스타그램의 경우 본인이 계정 내에서 미리 삭제 요청을 할 수는 없으므로 
                            | 직계가족이나 법률 대리인에게 본인의 의사를 미리 전달해놓는 것이 중요합니다. 
                            p 삭제 시 직계가족이나 법률대리인에게 필요한 서류는 다음과 같습니다. 
                        div
                            ul
                                li • 고인의 출생증명서
                                li • 고인의 사망 증명서
                                li • 요청을 제출하는 사람이 법적으로 대리할 수 있는 사람임을 증명하는 서류

                article#article6.paragraph
                    div.article__title
                        h1 사후 페이스북 계정 삭제
                    div.contents
                        div.paragraph-of-paragraph
                            p 페이스북은 본인이 사후에 계정을 삭제할지 말지 미리 선택할 수 있습니다. 
                            span.bold 삭제 방법은 위에서 말씀드린 기념계정 설정 마지막 단계에서 ‘사후 계정 삭제하기’를 클릭하시면 됩니다. 
                            p 계정을 삭제할 경우 모든 메시지, 사진, 게시물, 댓글, 공감 및 정보가 페이스북에서 즉시 영구적으로 삭제되며, 누구도 프로필을 볼 수 없게 됩니다. 
                            p 만약 의사표시를 안 해놓은 경우라면, 인스타그램과 같이 직계가족이나 법률 대리인이 삭제 요청을 할 수 있습니다. 
                            p 이때 직계가족이나 법률대리인에게 필요한 서류는 다음과 같습니다.
                        div
                            ul
                                li • 고인의 사망 증명서
                                li • 요청을 제출하는 사람이 법적으로 대리할 수 있는 사람임을 증명하는 서류
                
                article#article7.paragraph
                    div.article__title
                        h1
                    div.contents
                        div.paragraph-of-paragraph
                            p 더 자세한 내용은 다음 링크를 참고해주세요
                            p → 
                                a(href="https://www.facebook.com/help/instagram/151636988358045") 인스타그램 고객센터 QnA
                            p → 
                                a(href="https://www.facebook.com/help/legacycontact") 페이스북 고객센터 QnA
                            
            include ../partials/indexBtn.pug