extends ../base.pug

block content 
    main#contents.qrPage
        include ../partials/qrHero.pug 
        
        .group_program 
            .inner_program
                article#article1.paragraph
                    div.article__title
                        h1.first-title 
                            p 자연에 유골을 
                            p 뿌리는 장례 방식

                    div.contents
                        div.paragraph-of-paragraph
                            |
                            span.bold.highlight 시신을 화장한 뒤, 뼛가루를 산, 강, 바다 등 자연에 뿌리는 장례 방식
                            | 을 산분장(散粉葬) 또는 산골(散骨)이라고 합니다.
                            p 산분장은 추가 관리(추모 공간, 묘지 관리 등) 부담이 없다는 장점이 있어 점점 선호하는 추세입니다. 

                        //- div 
                        //-     ul 
                        //-         li.bold • 산골(散骨) 
                        //-         li.bold • 산분장(散粉葬)


                        //- div.paragraph-of-paragraph
                        //-     | 산분장은 유골을 가장 빨리 자연으로 돌아가게 하는 방법이자, 추가 관리(추모 공간, 묘지 관리 등) 부담이 없다는 장점이 있어 점점 선호하는 추세입니다. 

                article#article2.paragraph
                    div.article__title
                        h1 
                            p 제한적으로 
                            p 운영중인 산분장
                    
                    div.contents
                        div.paragraph-of-paragraph
                            | 사실 이 산분장은 법이 보장된 장례 방식이 아니며 명확한 규정이 없습니다. 
                            p 
                                span.underline 따라서 산분장은 현재 합법도 불법도 아닌 상태입니다.
                            p 현행 법령에 있는 '화장시설의 부대시설'로서의 조항 등에 근거해 
                                span.underline 매우 제한적으로 시행되고 있습니다.
                            p 따라서 산분장은 전문 업체를 통해 진행되는 경우가 일반적이며, 아래 두 가지 방식 외에 다른 방법으로의 진행은 어려울 수 있습니다. 

                        div 
                            h3.contents__title 1. 강, 바다에 뿌리는 방식 (해양장)
                            div.paragraph-of-paragraph
                                | 해양장 진행시 선박에 유족만 승선하고, 부표 지점으로 이동하여 고인을 보내드리게 됩니다.
                                p 해양장에도 아래와 같이 두 가지 방법이 있습니다.
                            ul 
                                li.bold • 바다에 흩날리지 않도록 천천히 유골 뿌리기
                                li.bold • 자연분해 가능한 천연 황토함에 고인을 안장하여 바다에 수장하기
                       
                            h3.contents__title 2. 유택동산에 뿌리는 방식 

                            div.paragraph-of-paragraph
                                | 유택동산이란, 일부 화장장, 장례식장, 지방자치단체에서 뼛가루를 뿌리고 간단한 제를 올릴 수 있도록 마련한 별도의 시설입니다.
                                p 이 유택동산에서의 산분장은 다음과 같이 진행됩니다. 
                            ul 
                                li.bold • 지정된 큰 항아리에 여러 명의 유골을 한꺼번에 모으고, 항아리 안에 유골이 일정 수준 모이면 한 번에 땅에 매장하기

                article#article3.paragraph
                    div.article__title

                        h1 법적 현황

                    div.contents
                        div.paragraph-of-paragraph
                            | 현재 보건복지부를 중심으로 '
                            span.underline 제3차 장사시설 수급 종합계획(2023~2027)
                            | ' 을 마련하여 산분장을 법적으로 보장하기 위해 준비 중에 있습니다. 
                            p 이렇게 산분장 제도화에 나서는 이유는 이를 원하는 국민이 많아 그 뜻을 법에 반영하고자 하기 때문입니다.

                        //- div 
                        //-     h3.contents__title.margin-bottom
                        //-         | 공식 장례 방식 4가지
                        //-         | (
                        //-         a(href='https://easylaw.go.kr/CSP/CnpClsMain.laf?popMenu=ov&csmSeq=511&ccfNo=1&cciNo=1&cnpClsNo=1&search_put=%EC%9C%A0%EA%B3%A8') 
                        //-             i.fa-solid.fa-link
                        //-             | link
                        //-         |  )
                        //-     ul 

                        //-         li.bold • 장례
                        //-         li.bold • 매장 
                        //-         li.bold • 화장 
                        //-         li.bold • 자연장

                        div.paragraph-of-paragraph
                            | 더불어, 이번 법 개정과 함께 공식 유택동산 공간이 신설됩니다.
                            p 충남 보령 국립 수목장림(보령국립기억의숲)에 마련되며, 개인별로 공간을 나눠 산분하는 방식으로 설계하였습니다. 
                            p 복지부는 환경부, 산림청과 협의를 거쳐 시범사업을 곧 시행 예정입니다. 
                                | ( 기사: 
                                a(href="http://www.ichannela.com/news/main/news_detailPage.do?publishId=000000303935") 
                                    i.fa-solid.fa-link
                                    | link ) 

                        //- div.paragraph-of-paragraph
                        //-     | 
                        //-     span 그러나, 
                        //-     span.highlight.underline 2022년 하반기 산분장을 법적으로 보장하게 됩니다.
                        //-     p 보건복지부에 따르면 22년 하반기 중 ‘제3차 장사시설 수급 종합계획(2023~2027)’에 비로소 산분장을 제도화 예정입니다. 
                        //-     | 이렇게 산분장 제도화에 나서는 이유는, 이를 원하는 국민이 많아 그 뜻을 법에 반영하고자 하기 때문입니다. ( - 기사 
                        //-     a(href="https://www.donga.com/news/article/all/20220622/114045526/1")
                        //-         i.fa-solid.fa-link
                        //-         | link )

            include ../partials/indexBtn.pug