extends ../base.pug

block content 
    main#contents
        include ../partials/qrHero.pug 
        
        .group_program 
            .inner_program
                article#article1.paragraph
                    div.article__title

                        h1.first-title 1. 폐기물 관리법 

                    div.contents
                        div.paragraph-of-paragraph