extends ../base.pug

block content 
    main#contents 
        .contents__hero 
            .qrpage__photo
                img(src=imgUrl, alt="")
                .img__text 
                    p #{title}
                        
        .group_program 
            .inner_program