extends ../base.pug

block content 
    main#contents
        include ../partials/qrHero.pug 
        
        .group_program 
            .inner_program
                article#article1.paragraph
                    div.article__title

                        h1.first-title 반려동물 신탁의 의미

                    div.contents
<<<<<<< HEAD
                        div.paragraph-of-paragraph
                            p 먼저 ‘신탁’이란 신뢰할 수 있는 자에게 재산을 이전시키는 것을 말하며, 
                            p 재산의 소유자가 자신의 재산을 운용할 수 없을 때 신뢰할 수 있는 사람에게 관리 및 처분을 의뢰하는 것을 말합니다.
                        div.paragraph-of-paragraph
                            | 같은 맥락에서, ‘반려동물 신탁(Statutory Pet Trust)’은 현재 반려동물의 주인이 질병, 사망 등의 이유로 
                            span.bold 반려동물을 돌보지 못할 상황을 대비해 본인 사망 후에 반려동물을 돌봐줄 사람에게 필요한 자금을 계약하는 것입니다.
                            p 우리나라 법률상 동물 앞으로는 직접적으로 유산을 상속할 수 없다 보니 내 반려동물을 돌봐 줄사람에게 상속을 하도록 하는 방식입니다.

                article#article2.paragraph
                    div.article__title
                        h1 반려동물 신탁의 운영방식
                    div.contents
                        div.paragraph-of-paragraph
                            p 신탁계약을 통해 사전에 믿을 만한 사람, 내 반려동물을 끝까지 돌보아 줄 사람을 수익자(새 주인)로 지정합니다. 이후 신탁자(현재 주인)의 건강이 악화되거나 의사능력이 없게 된 경우 혹은 사망하였을 경우, 수익자로 지정된 사람이 새 주인이 되어 돌보아 줄 수 있도록 합니다. 
                            p 그렇다고 수익자(새 주인)에게 한꺼번에 돈을 넘겨주는 것은 위험 요소가 있으므로, 이를 중간에서 수탁자(관리회사)가 관리해줍니다. 

                        div.paragraph-of-paragraph                        
                            p 구체적으로, 수탁자(관리회사)는 신탁계약에 따라 수익자(새 주인)에게 양육비 등 관리비용을 지급해주는 역할을 합니다.
                            p 또한, 신탁감독인은 수탁자(관리회사)의 양육비 등의 집행이 원활한지, 수익자(새 주인)가 반려동물을 잘 돌보는지 여부 등에 관해 감독·지도하는 역할을 합니다. 
                            p 신탁계약의 구체적인 조항은 본인이 미리 설계할 수 있으며, 구체적인 예시는 다음과 같습니다. 

                        div
                            ul
                                li • 신탁감독인(변호사)이 분기별로 새 주인의 집을 방문하여 돌봄 및 관리가 잘 이루어지고 있는지 확인한다.
                                li • 반려동물이 50만원 이상의 치료비가 드는 병을 진단받을 경우 수탁자(금융기관)에게 알려 치료비를 지급받을 수 있다.
                                li • 반려동물에 대한 보호가 제대로 이뤄지지 않으면 법원에 유언 취소를 청구한다.

=======
                        div.paragraph-of-paragraph
>>>>>>> 8666040d80a93c8d1163093e86d77abae1262bcb
