// size
$mobileSize: 770px;
$tabletSize: 1100px;

// font
$english: "Montserrat", sans-serif;
$kakao: "Kakao Light", sans-serif;
$kakao-regular: "Kakao Regular", "Apple SD Gothic Neo", "돋움" ㅡ dotum,
  sans-serif;
$donggu: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

$youthColor: #003d00;
$youthLightColor: #ccd2c5;
$youthDarkColor: #00251a;

// main color
$light--grey: rgb(249, 249, 249);
$grey: #767676;
$dark---green: #546760;
$green: #b6c3b4;
$light--beige: #f4eae2;
$beige: #c0b9a8;
