// size
$mobileSize: 770px;
$tabletSize: 1100px;

// font
$english: 'Montserrat', sans-serif;
$nanum: 'Nanum Gothic', sans-serif;
$gothic: 'Gothic A1', sans-serif;
$noto: 'Noto Sans KR', sans-serif;

// main color
$youthColor: #003d00;
$youthLightColor: #ccd2c5;
//$youthDarkColor: #00251a;
$youthDarkColor: #0f5a47;

// green color
$dark---green: #546760;
$green: #b6c3b4;

// youth-kit color
$guidebook--green: #0f5a47;
$highlight: #fdd99b;
$background: #dce4e1;
$background2: #f6f0dd;

// beige color
$light--beige: #f4eae2;
$beige: #c0b9a8;
$beige--bg: #e7e5df;
$beige--font: #918f82;

// grey color
$light--grey: rgb(249, 249, 249);
$medium--grey: #888888;
$grey: #767676;
$grey-font: #6e6e6e;

// line color
$input--border: #e5e5ed;
$input--word: #55596a;
$input--placeholder: #9a9ba7;
$input--placeholder--bg: #fafafc;

// alert color
$red: #d32f2f;
$blue: #0091ea;
