// reset
@import './reset.scss';

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

// variables & elements
@import './variables';
@import './elements';

// screens
@import './screens/home';
@import './screens/about';
@import './screens/contents';
@import './screens/qrpage';
@import './screens/login';
@import './screens/find-ID-or-PW';
@import './screens/showID';
@import './screens/join';
@import './screens/welcome';
@import './screens/editUser';
@import './screens/editPW';
@import './screens/beforeDeleteUser';
@import './screens/policy';

// components
@import './components/header';
@import './components/footer';
@import './components/qna';
@import './components/scroll';
@import './components/qr-mixins';
@import './components/qrHero';
@import './components/indexBtn';
@import './components/detail';

// size별 styles
@import './screens/tablet';
@import './screens/mobile';

* {
  box-sizing: border-box;
}

body {
  // font-family: "Hahmlet", serif;
  // font-family: $gothic;
  font-family: $noto;
  -webkit-overflow-scrolling: touch !important;
  scroll-behavior: smooth;
  &.openModal {
    overflow: hidden;
    // filter: blur(5px);
    // z-index: -4;
  }
}

// 모바일에서 style 깨지지 않도록
// button,
// html [type="button"] {
//   -webkit-appearance: none;
// }

// IOS에서 input 태그에 기본으로 적용되는 CSS 초기화
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
