.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-out;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  button {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 33px;
    right: 23px;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 3;
    &.moveUp {
      top: 19px;
    }
  }
  .modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  .modal__navbar {
    position: relative;
    top: 0px;
    width: 100%;
    a {
      li {
        padding: 20px 0px;
        width: 100vw;
        text-align: center;
        font-family: $english;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.1s linear;
        &:hover {
          background-color: $dark---green;
        }
      }
      all: unset;
    }
  }
}

main {
  p#popup {
    display: none;
  }
  .hero {
    width: 100%;
    height: 100vh;
    .hero__photo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url('/uploads/contents/main_picture.png');
      .hero__text {
        text-align: center;
        letter-spacing: 0.8px;
        width: 650px;
        color: $light--grey;
        h1 {
          font-family: $english;
          font-size: 45px;
          font-weight: 600;
          margin-bottom: 40px;
          span {
            font-weight: 400;
          }
        }
        h3 {
          font-size: 20px;
          letter-spacing: 1.2;
          line-height: 1.5;
          margin-bottom: 70px;
        }
        a {
          border: 1px solid white;
          padding: 15px 60px;
          text-decoration-line: none;
          color: $light--grey;
          font-size: 18px;
          transition: all 0.1s linear;
          &:hover {
            background-color: $light--grey;
            color: black;
          }
        }
      }
    }
  }
}

main {
  .coreMessage {
    // padding-top: 130px;
    // padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear;
    margin: 0px 0px;
    margin-top: 200px;
    &.slide-top {
      animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &.show {
      opacity: 1;
      transform: none;
      // visibility: hidden;
    }
    h1 {
      // font-family: $english;
      color: $youthColor;
      font-size: 33px;
      font-weight: 600;
      margin-bottom: 50px;
    }
    img {
      width: 35%;
      object-fit: cover;
      margin-bottom: 50px;
    }
    h3 {
      width: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 1.7;
    }
  }
}

section.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 0px;
  padding-bottom: 20px;
  margin-top: 100px;
  background-color: whitesmoke;
  width: 100%;
  .blog__title {
    position: absolute;
    top: 0;
    height: 110px;
    padding: 50px 0px;
    font-size: 35px;
    font-family: $english;
    font-weight: 600;
  }
  article.blog__post {
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    gap: 1px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    opacity: 0;
    transition: all 0.3s linear;
    &.slide-top {
      animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &.show {
      opacity: 1;
      transform: none;
      // visibility: hidden;
    }
    &.order {
      .post__content {
        order: 1;
      }
    }
    .post__content {
      background-color: white;
      color: rgba(0, 0, 0, 0.7);
      padding: 60px;
      display: flex;
      flex-direction: column;
      .post__title {
        font-family: $english;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 4em;
        color: $youthColor;
        span {
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1.5px;
            position: absolute;
            bottom: -1px;
            left: 1px;
            background: $youthColor;
          }
        }
      }
      h4 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 1em;
        span {
          font-family: $english;
        }
      }
      .post__desc {
        width: 80%;
        margin-bottom: 4em;
        font-size: 21px;
        line-height: 1.5;
        letter-spacing: 1.1;
        span {
          font-family: $english;
        }
      }
      .more {
        font-size: 20px;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          transform: translateX(7px);
        }
        a {
          color: rgba(0, 0, 0, 0.7);
          i {
            padding-left: 10px;
          }
        }
      }
    }
    a {
      width: 100%;
      // width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
        // overflow: hidden;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
