main#login {
  height: 100vh;
  p#alert {
    display: none;
  }
  .wrapper {
    margin-top: 85px;
    // background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 38px;
      }
      .social-login__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        h5 {
          //font-family: $gothic;
          font-size: 15px;
          color: $grey;
          margin-bottom: 10px;
        }
        .social-login__btns {
          display: flex;
          align-items: center;
          a {
            i,
            img {
              margin: 0px 5px;
            }
            i {
              font-size: 25px;
              padding: 8px;
              margin-bottom: 1px;
              color: #000000;
              background-color: #fee500;
              border-radius: 10%;
            }
            img {
              width: 40px;
            }
          }
        }
      }
      .border {
        display: flex;
        justify-content: center;
        align-items: center;
        hr {
          // border: 0.1px solid $youthLightColor;
          // color: $youthLightColor;
          margin: 40px 0px;
          width: 195px;
          background-color: $youthLightColor;
          height: 0.5px;
          border: 0;
        }
        p {
          margin: 0px 25px;
          color: $medium--grey;
          font-size: 15px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        label {
          color: $grey;
          margin-left: 12px;
          &#pw {
            margin-top: 8px;
          }
        }
        input {
          width: 470px;
          border: 1px solid $input--border;
          border-radius: 8px;
          margin: 6px;
          padding: 12px 14px;
          padding-left: 15px;
          //font-family: $gothic;
          font-size: 16px;
          &::placeholder {
            color: $input--placeholder;
          }
          &:focus {
            outline: none;
          }
          &.login__btn {
            border: none;
            background-color: $youthDarkColor;
            color: white;
            cursor: pointer;
            font-weight: 600;
            padding: 14px 14px;
          }
        }
        p#error {
          margin: 3px 0px;
          padding-right: 5px;
          color: $red;
          font-size: 12px;
          //font-family: $gothic;
          width: 95%;
          display: flex;
          justify-content: flex-start;
        }
      }
    }
    .find__box {
      display: flex;
      justify-content: end;
      width: 470px;
      margin-top: 15px;
      a {
        //font-family: $gothic;
        color: $medium--grey;
      }
      p {
        margin: 0px 4px;
        color: $medium--grey;
      }
    }
    .border {
      hr {
        margin-top: 50px;
        margin-bottom: 20px;
        width: 470px;
        background-color: $youthLightColor;
        height: 0.5px;
        border: 0;
      }
    }
    .join__btn {
      display: flex;
      justify-content: center;
      a {
        border: 1px solid $input--border;
        border-radius: 8px;
        margin: 6px;
        padding: 14px 197px;
        //font-family: $gothic;
        font-size: 16px;
        text-align: center;
        color: black;
        transition: 0.2s linear;
        font-weight: 600;
        &:hover {
          color: white;
          background-color: $youthDarkColor;
        }
      }
    }
  }
}
