@media screen and (max-width: $tabletSize) {
  header {
    nav {
      margin: 0 30px;
      .navbar {
        display: none;
      }
      button.bar {
        display: block;
      }
    }
  }
  main {
    .coreMessage {
      h1 {
        margin-bottom: 40px;
      }
      img {
        width: 60%;
        margin-bottom: 40px;
      }
      h3 {
        width: 650px;
        font-size: 22px;
      }
    }
    // qna 페이지
    &#contents {
      .contents__hero {
        margin-top: 50px;
        // height: 20vh;
        .hero__photo {
          padding: 0px 60px;
          .hero__text {
            // margin: 0;
            h3 {
              font-size: 27px;
            }
          }
        }
      }
      .group_program {
        .inner_program {
          section.box_program {
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            div.title {
              margin-bottom: 50px;
            }
          }
        }

        &#about {
          .inner_program {
            section.box_program {
              &.menu3__program {
                // padding-top: 10px;
                padding-bottom: 10px;
                .contents.menu3__column2 {
                  height: 70vh;
                  padding-left: 0px;
                  margin: 20px 0px;
                  div.root-circle {
                    width: 300px;
                    height: 300px;
                    div.circle {
                      width: 230px;
                      height: 230px;
                      margin: 0px;
                      // &.third {
                      //   top: 45%;
                      //   left: 23%;
                      // }

                      h1.subtitle {
                        font-size: 18px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .blog {
        .blog__post {
          width: 100%;
          .post__content {
            padding: 30px;
          }
        }
      }

      .wrapper {
        .about__people {
          .people__members {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            .member {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
    &#profile {
      // padding: 110px 0px;
      .profile__wrapper {
        padding: 0px 20px;
        width: 750px;
        // width: 100vw;
        // justify-content: space-around;
        flex-direction: column;
        .menu {
          width: 100%;
          nav {
            width: 100%;
            margin-bottom: 8px;
            flex-direction: row;
            position: relative;
            &::after {
              content: '';
              display: block;
              width: 100%;
              position: absolute;
              height: 1px;
              bottom: 0px;
              left: 0px;
              background: $input--border;
            }
            a {
              margin-right: 25px;
              li.menu {
                font-size: 17px;
                color: $input--placeholder;
                &.active {
                  color: $youthColor;
                  &::after {
                    bottom: -14px;
                    background: $youthColor;
                  }
                }
              }
            }
          }
        }
        .body {
          margin-top: 25px;
          // width: 100%;
        }
      }
    }
    &#beforeDelete {
      .wrapper {
        margin-top: 50px;
        padding: 100px 100px;
        p {
          &.row1 {
            font-size: 15px;
          }
          &.row2 {
            font-size: 22px;
          }
        }
      }
    }
  }
  // 홈 화면의 section.blog
  section.blog {
    article.blog__post {
      width: 90%;
      .post__content {
        h4 {
          margin-top: 20px;
          font-size: 20px;
        }
        span.post__desc {
          font-size: 16px;
        }
        span.more {
          font-size: 16px;
          margin-top: 35px;
        }
      }
    }
  }
  main#welcome {
    .wrapper {
      padding: 180px 80px;
    }
  }
  main#contents {
    .group_program#detail {
      .inner_program {
        width: 100%;
        div.grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  #qr-link {
    div.inner_of_link {
      .wrapper_of_img {
        height: 200px;
      }
    }
  }
  footer {
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    ul.footer__row1 {
      flex-direction: column;
      align-items: center;
      .row1__col2 {
        margin-top: 25px;
        li {
          justify-content: center;
          font-size: 13px;
        }
      }
    }
    ul.footer__row2 {
      flex-direction: column;
      align-items: center;
      ul.row2__col1 {
        align-items: center;
        margin: 25px 0px;
        div.justify-content-between {
          display: flex;
          justify-content: space-between;
          div:first-child {
            margin-right: 28px;
          }
        }
      }
      ul.row2__col2 {
        align-items: center;
      }
    }
  }
}
