footer {
  width: 100%;
  // height: 35vh;
  //background-color: #186853;
  //background-color: #23755c;
  //background-color: $beige--bg;
  background-color: #f9f5ec;
  padding: 40px 60px;
  color: $input--word;
  // color: white;
  display: flex;
  justify-content: space-between;
  .footer__col1,
  .footer__col2 {
    list-style: none;
    a {
      text-decoration: none;
      color: $input--word;
      // color: white;
    }
  }
  .footer__col1 {
    font-size: 23px;
    .col1__row1 {
      .footer__logo {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        img {
          width: 23px;
          margin-right: 10px;
        }
        p {
          font-weight: 600;
        }
      }
    }
    .col1__row2 {
      font-size: 13px;
      display: flex;
      flex-direction: column;
      div:not(.justify-content-between) {
        padding: 7px 0;
        span {
          &.bold {
            font-weight: 600;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .footer__col2 {
    font-size: 13px;
    .col2__row1 {
      text-align: end;
      margin-bottom: 25px;
      li {
        display: flex;
        justify-content: end;
        align-items: center;
        i {
          font-size: 15px;
          margin-right: 8px;
          padding-top: 4px;
        }
        padding: 4px 0px;
      }
    }
    .col2__row2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      a {
        li {
          padding: 7px 18px;
          padding-right: 0px;
          font-weight: 500;
        }
      }
      span {
        padding-left: 18px;
        font-weight: 500;
      }
    }
    .col2__row3 {
      text-align: end;
      li {
        font-size: 11px;
      }
    }
  }
}
