footer {
  width: 100%;
  // height: 35vh;
  background-color: $beige--bg;
  //background-color: #186853;
  //background-color: #23755c;
  padding: 40px 150px;
  color: $input--word;
  // color: white;
  display: flex;
  justify-content: space-between;
  .footer__col1,
  .footer__col2 {
    list-style: none;
    a {
      text-decoration: none;
      color: $input--word;
      // color: white;
    }
  }
  .footer__col1 {
    font-size: 23px;
    .col1__row1 {
      .footer__logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img {
          width: 23px;
          margin-right: 10px;
        }
        p {
          font-weight: 600;
        }
      }
    }
    .col1__row2 {
      font-size: 13px;
      p {
        padding: 7px 0;
      }
    }
    .col1__row3 {
      width: 15px;
      font-size: 16px;
      padding: 7px 0;
    }
  }
  .footer__col2 {
    font-size: 13px;
    .col2__row1 {
      display: flex;
      justify-content: space-between;
      a {
        li {
          padding: 7px;
        }
      }
    }
    .col2__row2 {
      text-align: end;
      a {
        li {
          padding: 7px;
        }
      }
      p {
        padding: 7px;
      }
    }
  }
}
