.contents__qna {
  width: 100%;
  margin-bottom: 120px;
  .qna__menu {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 100%;
      padding: 5px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-left: none;
      &:first-child {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
      }
      &.active {
        color: $youthColor;
        border-bottom: none;
        border-top: 3px solid;
      }
      i {
        font-size: 15px;
        padding: 10px;
      }
      li {
        padding-bottom: 10px;
        font-size: 17px;
        font-family: $kakao;
        font-weight: 600;
      }
    }
  }
}

.contents__qna__box {
  width: 100%;
  margin-bottom: 100px;
  .container__toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    .toggle {
      position: relative;
      margin-right: 10px;
      width: 40px;
      height: 20px;
      border-radius: 20px;
      background-color: $green;
      cursor: pointer;
      transition: 0.2s;
      &.active {
        background-color: $dark---green;
        .indicator {
          left: 20px;
        }
      }
      .indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: scale(0.8);
        transition: 0.1s;
        background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
      }
    }
    h3 {
      margin-right: 15px;
      margin-bottom: 5px;
    }
  }
  .container {
    width: 95%;
    margin: 0 auto;
    #fag {
      .panel-question {
        font-size: 20px;
        line-height: 1.5;
        &.clicked {
          .panel-heading {
            border-bottom: 1px solid;
          }
          .panel-body {
            display: block;
            display: flex;
            justify-content: flex-start;
          }
        }
        &:last-child {
          .panel-heading {
            border-bottom: 1px solid;
          }
          .panel-body {
            border-bottom: 1px solid;
          }
        }
        .panel-heading {
          padding: 25px;
          display: flex;
          align-items: center;
          cursor: pointer;
          border-top: 1px solid;
          & > i {
            margin-right: 30px;
          }
          h3 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            i {
              margin: 0 30px;
              padding-top: 5px;
            }
          }
        }
        .panel-body {
          padding: 25px;
          padding-left: 0;
          background-color: $light--grey;
          display: none;
          & > i {
            margin-left: 25px;
            margin-right: 30px;
            margin-top: 5px;
          }
          p {
            font-size: 17px;
            // line-height: 1.5;
            span {
              &.original {
                &.toggle {
                  display: none;
                }
              }
              &.changed {
                display: none;
                &.toggle {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
