#qr-link {
  text-decoration: none;
  color: black;
  div.inner_of_link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper_of_img {
      border-radius: 3px;
      overflow: hidden;
      width: 300px;
      height: 230px;
      img {
        // border-radius: 3px;
        width: 100%;
        height: 100%;
        transition: all 0.1s;
        opacity: 0.8;
        &:hover {
          opacity: 1;
          transform: scale(1.03);
        }
      }
    }
    .info {
      width: 300px;
      .info__div {
        margin-top: 18px;
        margin-bottom: 11px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $grey-font;
        font-size: 14px;
      }
      h1 {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
        color: $input--word;
      }
    }
  }
}
