doctype html
html(lang="kr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/css/styles.css")
    link(rel="shortcut icon" type="image/x-icon" href="/uploads/contents/youth_logo.png")
    if pageTitle === 'Home'
      title 유언을 쓰다
    else 
      title #{ pageTitle } | 유언을 쓰다
  body 
    include partials/header
    block content
    include partials/footer
    script(
      src="https://kit.fontawesome.com/271532994e.js",
      crossorigin="anonymous"
    )
    script(src="/assets/js/main.js")
    script(src="/assets/js/clickBar.js")
    script(src="/assets/js/changeHeader.js")
    if pageTitle === "Home"
      script(src="/assets/js/blogScrollAni.js")
      script(src="/assets/js/messageScrollAni.js")
      script(src="/assets/js/widthResize.js")
      script(src="/assets/js/alert.js")
    else if pageTitle === "QnA"
      script(src="/assets/js/openAnswer.js")
      script(src="/assets/js/toggleBtn.js")
      script(src="/assets/js/alert.js")
    else if pageTitle === "Join" || pageTitle === "Find Password" || pageTitle === "Login"
      script(src="/assets/js/alert.js")
    else if pageTitle === 'About'
      script(src="/assets/js/aboutScrollAni.js")
    else if pageTitle === '이용약관'
      script(src='./assets/js/policyCheckBox.js')
