footer
  ul.footer__col1
    .col1__row1
      a.footer__logo(href="/")
        img(src="/uploads/contents/youth_logo.png")
        p 유쓰
    .col1__row2
      div
        span.bold 주소 
        |  서울 성동구 아차산로7길 21 4층 카페24창업센터 성수점 69호
      div.justify-content-between
        div
          span.bold 대표 
          |  이청화
        div
          span.bold 사업자등록번호  
          |  NO. 367-05-02599
  ul.footer__col2
    ul.col2__row1
      li 
        i.fa-regular.fa-envelope
        |  oasis5234@gmail.com
      a(href="https://www.instagram.com/write_your_youth/")
        li 
          i.fa-brands.fa-instagram
          |  write_your_youth
    ul.col2__row2
      a(href="/about")
        li 회사 소개
      span | 
      a(href="/")
        li 개인정보처리방침
      span | 
      a(href="/")
        li 서비스 이용 약관
    ul.col2__row3
      li &copy; Copyright 2022 YOUTH. All rights reserved.
