footer
  ul.footer__col1
    .col1__row1
      a.footer__logo(href="#")
        li YOUTH LOGO
    .col1__row2
      p 대표: 이청화
      p e-mail: oasis5234@gmail.com
    .col1__row3
      a(href="https://www.instagram.com/write_your_youth/")
        li
          i.fa-brands.fa-instagram
      i.flaticon-airplane49
  ul.footer__col2
    ul.col2__row1
      a(href="/about")
        li 회사 소개
      a(href="/")
        li FAQ
      a(href="/")
        li 개인정보처리방침
      a(href="/")
        li 상품입점 및 제휴문의
    ul.col2__row2
      a(href="/")
        li 사업자등록번호 :
      a(href="/")
        li 주소 :
      p &copy; Copyright 2022 YOUTH. All rights reserved.
