footer
  ul.footer__row1
    .row1__col1
      a.footer__logo(href="/")
        img(src="/uploads/contents/youth_logo.png")
        p 유쓰
    .row1__col2
      li 
        i.fa-regular.fa-envelope
        |  write.your.youth@gmail.com
      a(href="https://www.instagram.com/write_your_youth/")
        li 
          i.fa-brands.fa-instagram
          |  write_your_youth
  ul.footer__row2
    ul.row2__col1
      div
        span.bold 주소 
        |  서울 성동구 아차산로7길 21 4층 카페24창업센터 성수점 69호
      div.justify-content-between
        div
          span.bold 대표 
          |  이청화
        div
          span.bold 사업자등록번호  
          |  NO. 367-05-02599
    ul.row2__col2
      div.row2__col2__row1
        a(href="/about")
          li 회사 소개
        span | 
        a(href="/")
          li 개인정보처리방침
        span | 
        a(href="/")
          li 서비스 이용 약관
      div.row2__col2__row2
        li &copy; Copyright #{new Date().getFullYear()} YOUTH. All rights reserved.
