if pageTitle === "Home"
  header
    nav
      ul.logo
        a(href="/")
          li YOUTH LOGO
      ul.navbar
        a(href="/about")
          li ABOUT
        a(href="/youthkit")
          li YOUTH KIT
        a(href="/contents/qna/1")
          li CONTENTS
        a(href="/community")
          li COMUNITY
        a(href="/login")
          li LOG IN
      button.bar
        i.fa-solid.fa-bars
  .modal.hidden
    button
      i.fa-solid.fa-x
    .modal__overlay
    ul.modal__navbar
      a(href="/about")
        li ABOUT
      a(href="/youthkit")
        li YOUTH KIT
      a(href="/contents/qna")
        li COONTENTS
      a(href="/community")
        li COMUNITY
      a(href="/login")
        li LOG IN

else
  header#contents
    nav
      ul.logo
        a(href="/")
          li YOUTH LOGO
      ul.navbar
        a(href="/about")
          li ABOUT
        a(href="/youthkit")
          li YOUTH KIT
        a(href="/contents/qna/1")
          li CONTENTS
        a(href="/community")
          li COMUNITY
        a(href="/login")
          li LOG IN
      button.bar
        i.fa-solid.fa-bars
  .modal.hidden
    button
      i.fa-solid.fa-x
    .modal__overlay
    ul.modal__navbar
      a(href="/about")
        li ABOUT
      a(href="/youthkit")
        li YOUTH KIT
      a(href="/contents/qna")
        li COONTENTS
      a(href="/community")
        li COMUNITY
      a(href="/login")
        li LOG IN
