extends ../base.pug 

block content 
    main#beforeDelete
        .wrapper
            p.row1 탈퇴 즉시 모든 정보가 삭제되며 복구 불가합니다.
            p.row2 정말 탈퇴하시겠습니까?
            
            div
                a.cancel(href="/users/edit") 취소
                a.deleteUser(href="/users/delete") 탈퇴하기