extends ../base.pug

block content 
    main#welcome 
        .wrapper 
            .welcome-message 
                i.fa-solid.fa-circle-check 
                p 유쓰
                    span  회원가입이 완료
                    | 되었습니다.
                span.row1
                    | 이메일 인증 및 회원가입이 완료되었습니다.
                span.row2
                    | 인증된 이메일로 로그인하세요.
                a(href="/login") 로그인페이지로 이동